In [2]:
l = []

for letter in 'word':
    l.append(letter)

print l

['w', 'o', 'r', 'd']

List comprehension - what I want which is the letter, flattening out the for loop

x^2 for x in {0,1,2,3,4}

In [4]:
l = [letter for letter in 'word']

In [5]:
l

['w', 'o', 'r', 'd']

In [7]:
lst = [x**2 for x in xrange(0,11)]

In [8]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
lst = [number for number in range(11) if number % 2 == 0]

In [12]:
lst

[0, 2, 4, 6, 8, 10]

In [15]:
celcius = [0,10,20,34.5]

fahrenheit = [(float(9)/5*temp + 32) for temp in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [22]:
# Final result x**4 in for num in range(11)
# [ ] defines a list
lst = [x**2 for x in [x**2 for x in range(11)]]

In [20]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]