In [1]:
list = [1,2,3,4,5]

In [3]:
list

[1, 2, 3, 4, 5]

In [6]:
for num in list:
    print 'something!'

something!
something!
something!
something!
something!

In [7]:
# MODULO

In [8]:
10 % 3

1

In [9]:
18 % 7

4

In [10]:
4 % 2

0

In [11]:
list

[1, 2, 3, 4, 5]

In [18]:
for num in list:
    if num % 2 == 0:
        print "%s is an even" %(num)
    else:
        print "%s is an odd number!" %(num)

1 is an odd number!
2 is an even
3 is an odd number!
4 is an even
5 is an odd number!

In [19]:
list

[1, 2, 3, 4, 5]

In [20]:
list_sum = 0

for num in list:
    list_sum += num

print list_sum

15

In [21]:
s = "this is a string!"

In [23]:
for letter in s:
    print letter

t
h
i
s

i
s

a

s
t
r
i
n
g
!

In [25]:
tup = (1,2,3,4,5)

for item in tup:
    print item

1
2
3
4
5

In [26]:
list= [(2,4),(6,8),(10,12)]

In [27]:
list

[(2, 4), (6, 8), (10, 12)]

In [30]:
list[2][0]

10

In [31]:
for tup in list:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [33]:
# tuple unpacking

In [34]:
for (t1,t2) in list:
    print t1-t2

-2
-2
-2

In [35]:
d = {'k1':1,'k2':2,'k3':3}

print only the keys when iterating through the dictionary

In [36]:
for item in d:
    print item

k3
k2
k1

In [39]:
for key,value in d.iteritems():
    print key
    print value

k3
3
k2
2
k1
1